<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{post.date_created}} - {{post.user.name}}</h6>
    <p class="card-text">{{post.content}}</p>
  </div>
</div>

{{#if logged_in}}
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Leave Comment
  </button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Comment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-6">
        <form class="form comment-form">
            <input hidden type="text" id="currentUserId" value="{{current_user_id}}">
            <input hidden type="text" id="postId" value="{{post.id}}">
            <p id="postId" hidden>{{post.id}}</p>
            <div class="mb-3">
                <label for="comment-comment" class="form-label">Comment:</label>
                <textarea class="form-control" id="comment-comment" rows="3" placeholder="Example Comment"></textarea>
            </div>
        </form>    
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="comment-submit">Submit Comment</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/comment.js"></script>
{{/if}}

{{#each post.comments as |comment| }}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{comment.user.name}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{comment.date_created}}</h6>
    <p class="card-text">{{comment.comment}}</p>
  </div>
</div>
{{/each}}